{{!-- The following component displays Ember's default welcome message. --}}
{{! welcome-page }}
{{!-- Feel free to remove this! --}}

{{#navigaion-bar}}{{/navigaion-bar}}
<div class="container">
  {{outlet}}
</div>